@import '../../../node_modules/@angular/material/theming';

@mixin education-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-home {
    .education-background {
      background: mat-color($accent);
    }

    .header-headline {
      color: mat-color($primary, default-contrast);
    }

    .header-start {
      color: mat-color($primary);
    }

    .homepage-row {
      color: mat-color($foreground, secondary-text);
    }

    .star-light mat-icon{
      background: mat-color($primary);
    }

    h2 {
      color: mat-color($primary, default-contrast);
    }
    i {
      color: mat-color($accent, default-contrast);
    }
    i:hover {
      color: mat-color($primary, default-contrast);
    }

    span {
      color: mat-color($primary, default-contrast);
    }

    .timeline::before,.timeline-section .timeline-content::before {
      background: mat-color($primary, darker);
    }

    .timeline-section mat-card .modal-dot:hover, .timeline-section mat-card .modal-dot:focus {
      color: mat-color($primary, default-contrast);
    }

    .timeline-section .circle {
      background: mat-color($primary, darker);
      color: mat-color($primary, default-contrast);
    }

    .timeline-section .timeline-content {
      background: mat-color($primary, default-contrast);
      border-left: 5px solid mat-color($primary);
    }
  }
}
