<div class="education-background mat-elevation-z6">
  <div class="education-header">
    <mat-card>
      <h1 class="mat-h1">
        <mat-icon>school</mat-icon>
        Education
      </h1>
    </mat-card>
  </div>
  <div class="timeline">
    <div class="timeline-section">
      <div class="circle">
        <h6 class="mat-h6">S</h6>
      </div>
      <div class="timeline-content">
        <!--<mat-card>-->
        <!--<mat-card-title>High School</mat-card-title>-->
        <!--<mat-card-subtitle>Science Park</mat-card-subtitle>-->
        <!--<mat-card-subtitle>May, 2011</mat-card-subtitle>-->
        <!--<mat-card-content>The place where I fell in love with computer science. Before taking AP CS in high school, I-->
        <!--had no idea what I wanted to do with my life.-->
        <!--</mat-card-content>-->
        <!--</mat-card>-->
        <mat-card>
          <mat-card-title>College</mat-card-title>
          <mat-card-subtitle>Rutgers University<br>May, 2017</mat-card-subtitle>
          <mat-card-content>Graduated with a bachelors in Computer Science. Suma
            Cum Laude. Computer Science I & II, Computer Architecture, Advanced Data Structures, LinuxKernel
            Programming, Advanced Programming in Linux, Operating Systems, Android Development, DatabaseDesign,
            Cryptography and Network Security, Design in Software Engineering, Programming Language Concepts.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="timeline-section">
      <div class="circle">
        <h6 class="mat-h6">E</h6>
      </div>
      <div class="timeline-content">
        <!--<mat-card>-->
        <!--<mat-card-title>Community College</mat-card-title>-->
        <!--<mat-card-subtitle>Essex County College</mat-card-subtitle>-->
        <!--<mat-card-subtitle>May, 2014</mat-card-subtitle>-->
        <!--<mat-card-content>Accepted into the honors program, I attended this college for two years while having my-->
        <!--tuition waived. Graduated with a 3.9 GPA and was able to save a ton of money.-->
        <!--</mat-card-content>-->
        <!--</mat-card>-->
        <mat-card>
          <mat-card-title>College</mat-card-title>
          <mat-card-subtitle>Rutgers University<br>May, 2017</mat-card-subtitle>
          <mat-card-content>Graduated with a bachelors in Computer Science. Suma
            Cum Laude. Computer Science I & II, Computer Architecture, Advanced Data Structures, LinuxKernel
            Programming, Advanced Programming in Linux, Operating Systems, Android Development, DatabaseDesign,
            Cryptography and Network Security, Design in Software Engineering, Programming Language Concepts.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="timeline-section">
      <div class="circle">
        <h6 class="mat-h6">R</h6>
      </div>
      <div class="timeline-content">
        <!--<mat-card>-->
        <!--<mat-card-title>College</mat-card-title>-->
        <!--<mat-card-subtitle>Rutgers University</mat-card-subtitle>-->
        <!--<mat-card-subtitle>May, 2017</mat-card-subtitle>-->
        <!--<mat-card-content>Worked and went to school full time. Graduated with a bachelors in Computer Science. Suma-->
        <!--Cum Laude. Computer Science I & II, Computer Architecture, Advanced Data Structures, LinuxKernel-->
        <!--Programming, Advanced Programming in Linux, Operating Systems, Android Development, DatabaseDesign,-->
        <!--Cryptography and Network Security, Design in Software Engineering, Programming Language Concepts.-->
        <!--</mat-card-content>-->
        <!--</mat-card>-->
        <mat-card>
          <mat-card-title>College</mat-card-title>
          <mat-card-subtitle>Rutgers University<br>May, 2017</mat-card-subtitle>
          <mat-card-content>Graduated with a bachelors in Computer Science. Suma
            Cum Laude. Computer Science I & II, Computer Architecture, Advanced Data Structures, LinuxKernel
            Programming, Advanced Programming in Linux, Operating Systems, Android Development, DatabaseDesign,
            Cryptography and Network Security, Design in Software Engineering, Programming Language Concepts.
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

</div>
