<div id="education" class="education-background">
  <div class="education-header">
    <h1 class="mat-h1">
      <mat-icon>school</mat-icon>
      Education
    </h1>
  </div>
  <mat-divider></mat-divider>
  <div class="timeline">
    <div class="timeline-section">
      <div class="circle">
        <h6 class="mat-h6">P</h6>
      </div>
      <div class="timeline-content">
        <mat-card>
          <mat-card-title>Hello</mat-card-title>
        </mat-card>
      </div>
    </div>
    <div class="timeline-section">
      <div class="circle">
        <h6 class="mat-h6">P</h6>
      </div>
      <div class="timeline-content">
        <mat-card>
          <mat-card-title>Hello</mat-card-title>
        </mat-card>
      </div>
    </div>
  </div>

</div>
