<nav #home class="navbar-header">
  <div class="navbar-show-small">
    <button (click)="rotate()" [@rotatedState]='state' class="app-nav-menu-button" mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false" (close)="rotate()">
      <button [ngx-scroll-to]="'home'" mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button [ngx-scroll-to]="'experience'" mat-menu-item>
        <mat-icon>school</mat-icon>
        <span>Experience</span>
      </button>
      <button [ngx-scroll-to]="'portfolio'" mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Portfolio</span>
      </button>
      <button [ngx-scroll-to]="'skills'" mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Skills</span>
      </button>
      <button [ngx-scroll-to]="'contact'" mat-menu-item>
        <mat-icon>contact_mail</mat-icon>
        <span>Contact</span>
      </button>
    </mat-menu>
  </div>
  <div class="navbar-show-small">
    <app-page-title></app-page-title>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      home
    </i>
    <a mat-button [ngx-scroll-to]="'home'" class="app-button">Home</a>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      school
    </i>
    <a mat-button class="app-button" [ngx-scroll-to]="'experience'">Experience</a>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      person
    </i>
    <a mat-button [ngx-scroll-to]="'portfolio'" class="navbar-hide-small app-button">Portfolio</a>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      library_books
    </i>
    <a mat-button [ngx-scroll-to]="'skills'" class="app-button">Skills</a>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      contact_mail
    </i>
    <a mat-button [ngx-scroll-to]="'contact'" class="navbar-hide-small app-button">Contact</a>
  </div>
</nav>
