.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 0;
  justify-content: center;
}
.app-nav-menu-button{
  text-align: left;
}

/*
Make nav icon bigger
*/
mat-icon{
  font-size: 36px;
}

.flex-spacer {
  flex-grow: 1;
}

.nav-icon {
  height: 26px;
  margin: 0 0 3px 0;
  vertical-align: middle;
}


.navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.navbar-show-small {
  display: none;
}

/**
  * Rules for when the device is detected to be a small screen.
  * Moves content two rows instead of one.
  */
@media (max-width: 720px) {
  .navbar-hide-small {
    display: none;
  }

  .navbar-show-small {
    display: flex;
    margin: 0;
  }

  .navbar-header{
    justify-content: left;
    padding-left: 8px;
  }

  //.navbar-show-small.button{
  //  flex: 1;
  //  text-align: center;
  //}

}
