<nav #home class="navbar-header">
  <div class="navbar-show-small">
    <button (click)="rotate()" [@rotatedState]='state' class="app-nav-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false" (close)="rotate()">
      <button [ngx-scroll-to]="'home'" mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button [ngx-scroll-to]="'resume'" mat-menu-item>
        <mat-icon>school</mat-icon>
        <span>Education</span>
      </button>
      <button mat-menu-item>
        <mat-icon>library_books</mat-icon>
        <span>Skills</span>
      </button>
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Portfolio</span>
      </button>
      <button mat-menu-item>
        <mat-icon>contact_mail</mat-icon>
        <span>Contact</span>
      </button>
    </mat-menu>
  </div>
  <div class="navbar-show-small">
    <app-page-title></app-page-title>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      home
    </i>
    <a mat-button [ngx-scroll-to]="'home'" class="app-button">Home</a>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      school
    </i>
    <a mat-button class="app-button" [ngx-scroll-to]="'resume'" routerLink="education">Education</a>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      library_books
    </i>
    <a mat-button class="app-button" routerLink="skills">Skills</a>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      person
    </i>
    <a mat-button class="navbar-hide-small app-button" routerLink="portfolio">Portfolio</a>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      contact_mail
    </i>
    <a mat-button class="navbar-hide-small app-button" routerLink="contact">Contact</a>
  </div>

</nav>
<!--<nav class="navbar-header navbar-show-small">-->
  <!--<div>-->
    <!--<i class="material-icons nav-icon">-->
      <!--shopping_basket-->
    <!--</i>-->
    <!--<a mat-button class="app-button" routerLink="shop">Shop</a>-->
  <!--</div>-->
  <!--<div>-->
    <!--<i class="material-icons nav-icon">-->
      <!--contact_mail-->
    <!--</i>-->
    <!--<a mat-button class="app-button" routerLink="contact">Contact</a>-->
  <!--</div>-->

  <!--&lt;!&ndash;<div class="flex-spacer"></div>&ndash;&gt;-->

<!--</nav>-->
