.skills-background {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.skills-header {
  text-align: center;
  margin: 8px;
  justify-content: center;
  display: flex;
  h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
  mat-icon {
    font-size: inherit;
    padding-right: 1em;
  }

  mat-card {
    width: 85%;
    padding: 0;
  }
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

/* mixin for multiline */
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 5em;
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}



//mat-card-content div{
//  overflow: hidden;
//  display: -webkit-box;
//  -webkit-box-orient: vertical;
//  -webkit-line-clamp: 3;
//}


/**
  * Rules for when the device is detected to be a small screen.
  */
@media (max-width: 720px) {

  .skills-header {
    mat-icon {
      font-size: 32px;
      padding-right: 10px;
    }

    h1 {
      font-size: 32px;
    }
  }
}
