<div class="portfolio-background mat-elevation-z6">
  <div class="portfolio-header">
    <mat-card>
      <h1 class="mat-h1">
        <mat-icon>person</mat-icon>
        Portfolio
      </h1>
    </mat-card>
  </div>
  <ngu-carousel #myCarousel
                [inputs]="carouselConfig"
                [dataSource]="carouselItems">
    <ngu-tile *nguCarouselDef="let item;">
      <mat-card class="carouselCard">
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.subtitle}}</mat-card-subtitle>
        <img mat-card-image
             src="{{item.images[0]}}"
             default="../../assets/wine-bottle_placeholder.svg"
             alt="Photo of project">
        <mat-card-content class="carouselCardContent">{{item.content}}</mat-card-content>
      </mat-card>
    </ngu-tile>
    <button NguCarouselNext class="rightRs">
      <mat-icon class="noSelect">chevron_right</mat-icon>
    </button>
    <button NguCarouselPrev class="leftRs">
      <mat-icon class="noSelect">chevron_left</mat-icon>
    </button>
    <ul class="myPoint" NguCarouselPoint>
      <li *ngFor="let j of myCarousel.pointNumbers; let j = index"
          [class.active]="j==myCarousel.activePoint"
          (click)="myCarousel.moveTo(j)"></li>
    </ul>
  </ngu-carousel>
</div>

