@import '~@angular/material/theming';
@import './app-theme';
@import "./styles/general";


// Include material core styles.
@include mat-core();

$mat-cherryred: (
  50 : #fae6e6,
  100 : #f3c0c0,
  200 : #ec9697,
  300 : #e46b6d,
  400 : #de4c4d,
  500 : #d82c2e,
  600 : #d42729,
  700 : #ce2123,
  800 : #c81b1d,
  900 : #bf1012,
  A100 : #ffeded,
  A200 : #ffbabb,
  A400 : #ff8788,
  A700 : #ff6e6e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-brown: (
  50 : #e8e5e5,
  100 : #c5bebd,
  200 : #9f9391,
  300 : #786865,
  400 : #5b4744,
  500 : #3e2723,
  600 : #38231f,
  700 : #301d1a,
  800 : #281715,
  900 : #1b0e0c,
  A100 : #ff6b5d,
  A200 : #ff3d2a,
  A400 : #f61600,
  A700 : #dc1400,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


$mat-wood: (
  50 : #fff4ea,
  100 : #ffe4ca,
  200 : #ffd2a7,
  300 : #ffc084,
  400 : #ffb369,
  500 : #ffa54f,
  600 : #ff9d48,
  700 : #ff933f,
  800 : #ff8a36,
  900 : #ff7926,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe3d4,
  A700 : #ffd3ba,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
//$primary: mat-palette($mat-indigo);
$primary: mat-palette($mat-cherryred);

$accent:  mat-palette($mat-wood, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include wine-app-theme($theme);
