@import '../../../node_modules/@angular/material/theming';

@mixin home-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-home {
    .header-background {
      background: mat-color($primary);
    }

    .header-headline {
      color: mat-color($primary, default-contrast);
    }

    .star-light mat-icon{
      background: mat-color($primary);
    }

    h2, h3, p {
      color: mat-color($primary, default-contrast);
    }
    i {
      color: mat-color($accent, default-contrast);
    }
    i:hover {
      color: mat-color($primary, default-contrast);
    }

    span {
      color: mat-color($primary, default-contrast);
    }
  }
}
