// The margin between two sections
$margin-promotion-sections: 60px;
$margin-promotion-sections-small: 15px;
.social i{
  padding: 10px;
  font-size: 26px;
}

.star-light {
  max-width: 75%;
  padding: 0;
  text-align: center;
  border: none #fff;
  border-top: .3rem solid;
  margin: 2.5rem auto auto;
  color: #ffffff;
}

.star-light mat-icon{
  position: relative;
  top: -.65em;
  display: inline-block;
  padding: 0 .25em;
  font-weight: 900;
  font-size: 2em;
  color: #ffffff;
  width: inherit;
}


.header-background {
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
  //height: 100vh; //removed as it did not play nice in different backgrounds
  //background: #ffffff url("../../assets/images/dark_wood.jpg");
}


.header-headline {
  padding-top: 70px;
  h1 {
    font-size: 56px;
    font-family: "poppins-medium", sans-serif;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.homepage-promo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;

  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }
}


.homepage-row {
  display: flex;
  max-width: 920px;
}

.homepage-row .wine-svg-image{
  max-width: 90%;
}

.homepage-reverse-row {
  flex-direction: row-reverse;
}

.header-start,
.homepage-bottom-start {
  text-align: center;
}

.homepage-promo-img,
.homepage-promo-desc {
  width: 50%;
}

.homepage-promo-img {
  text-align: center;
}

.homepage-promo-desc {
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/**
  * Rules for when the device is detected to be a small screen.
  */
@media (max-width: 720px) {
  .header-start,
  .homepage-bottom-start {
    margin: $margin-promotion-sections-small 0;
  }

  .homepage-row {
    margin: $margin-promotion-sections-small 0;
  }

}
