// The margin between two sections
$margin-sections: 60px;
$margin-sections-small: 15px;
.social i{
  padding: 10px;
  font-size: 26px;
}

.star-light {
  max-width: 75%;
  padding: 0;
  text-align: center;
  border: none #fff;
  border-top: .3rem solid;
  margin: 2.5rem auto auto;
  color: #ffffff;
}

.star-light mat-icon{
  position: relative;
  top: -.65em;
  display: inline-block;
  padding: 0 .25em;
  font-weight: 900;
  font-size: 2em;
  color: #ffffff;
  width: inherit;
}


.header-background {
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
  height: 100vh;
  min-height: 750px;
  //height: 100vh; //removed as it did not play nice in different backgrounds
  //background: #ffffff url("../../assets/images/dark_wood.jpg");
}

p{
  padding: 10px;
  //text-indent: 3em;
  //text-align: left;
}

.header-headline {
  padding-top: 70px;
  h1 {
    font-size: 56px;
    font-family: "poppins-medium", sans-serif;
    font-weight: 600;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.home-section{
  padding-top: 20px;
  display: flex;
}




/**
  * Rules for when the device is detected to be a small screen.
  */
@media (max-width: 720px) {
  .home-section{
    padding-top: 20px;
  }
}
